* {
    margin: 0;
    box-sizing: border-box;
}
.block {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.3fr 1fr;

}
.block__left {
    background-color: #333;
    color: white;
    padding: 100px 40px;
    display: grid;
    grid-template-rows: auto 1fr;
}
.block__right {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(200px,auto)); */
    padding: 60px;
    gap: 160px 60px;
    align-content: center;
    justify-items: center;
    
}
.title {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 12px;
}
.content {
    display: grid;
    align-content: end;
    border-left: 2px solid #ddd;
    padding-left: 30px;
    margin-top: 60px;
}
.label {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 16px;

}
.desc {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1em;
    opacity: 0.9;
}
.card {
    display: grid;
    justify-items: center;
    text-align: center;
    max-width: 200px;
}
.card__img {
    width: 100px;
    height: 100px;
    background-color: #333;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    display: grid;
    justify-items: center;
    align-items: center;
}
.card__img svg {
    height: 50%;
    width: 50%;
}
.card__img svg path {
    fill: #ddd;
}
.card__title {
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 14px;
    color: #222;
    letter-spacing: 2px;
}
.card__desc {
    font-size: 12px;
    line-height: 1em;
    letter-spacing: 1px;
}
